body {
  margin: 0;
  padding: 0;
  font-family: "helvetica", sans-serif;
}
.header {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("images/backgroundimg.jpg");
  background-size: cover;
  border-bottom: 10px solid grey;
  padding-bottom: 13%;
  box-shadow: rgb(120, 150,250);
}

.logo {
  color: rgb(0,0,0);
  margin: 30px 0px 0px 50px;
  width: 170px;
  height: 70px;

}

.sign-in {
  color: white;
  float: right;
  background-color: red;
  margin: 50px 50px 0px 0px;
  border: 1px solid red;
  border-radius: 10px;
  padding: 7px 17px 7px 17px;
  display: inline;
  text-align: center;
  font-size: 16px;

}

.text {
  color: white;
  text-align: center;
  font-size: 45px;
  line-height: 15px;
}

.texting {
  color: white;
  text-align: center;
  font-size: 26px;
  line-height: 50px;

}

.try {
  color: white;
  background-color: red;
  padding: 10px 20px 10px 20px;
  position: relative;
  left: 600px;
  margin-top: 20px;
  font-size: 25px;
  border: 1px solid red;
  font-weight: 3px;

}

.black {
  background-color: black;
  background-size: cover;
}
